{% extends 'base.html.twig' %}

{% block title %}
	Chez Renard ! Modification de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h3 class="text-center mb-4">Modification de {{ user.firstname }} {{ user.lastname }}</h3>

		<div class="row justify-content-center">
			<div class="col-md-6">
				{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

				<div class="text-center mt-4">
					<a class="btn btn-light m-1" href="{{ path('app_product_index') }}">
						<i class="bi bi-arrow-left"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

